* {
    box-sizing: border-box;
    display;
    font-family: 'Bebas Neue', 'Times New Roman', Times, serif;
    color:white;
}

.list-container {
    text-align: center;
}
.list-separator {
    font-size: 40px;
    margin-right: 50px;
    display: inline-block;
}

.index-banner {
    font-size: 300px;
    height: 280px;
    text-align: center;
    margin-top:10px;
    margin-bottom: 50px;
    margin-top: 0;
    padding-top: 0;
}

html {
    background-image: url(./img/webb-dark.png);
}

.sponsor {
    font-size: 25px;
    display: block;
    text-align: center;
    margin-top: 50px;
}

.sub-banner {
    font-size: 100px;
    height: 120px;
}

.description {
    display: inline-block;
    font-size: 30px;
    width: 500px;
    height: 295px;
    text-align: center;
}

.img {
    width: 280px;
    display: inline-block;
}

.ingredients-list {
    font-size: 30px;
}